doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/style.min.css")
        link(href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,400i,700,800|Pacifico&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap", rel="stylesheet")
        
    body
        header.header#home
            .container
                .header__inner
                    .header__logo
                        img(src="img/logo.png", alt="/")
                    .burger 
                      div
                      div
                      div
                  
                    nav.menu
                        ul
                            li.menu-list
                                a(href="#",data-scroll="#home") Home           
                            li.menu-list
                                a(href="#",data-scroll="#services") Services          
                            li.menu-list
                                a(href="#",data-scroll="#about") About     
                            li.menu-list
                                a(href="#",data-scroll="#portfolio ") Portfolio    
                            li.menu-list
                                a(href="#",data-scroll="#testimonials ") Testimonials          
                            li.menu-list
                                a(href="#",data-scroll="#contact") Contact
        
        .header__intro 
          .container 
            .intro__slider
                .intro-item       
                    h1.intro__title Simple,Fresh & Unique Design  
                    .intro__text Donec posuere augue venenatis, 
                    .intro__btn
                        button.btn-intro show more
                .intro-item       
                    h1.intro__title Simple,Fresh & Unique Design  
                    .intro__text Donec posuere augue venenatis, 
                    .intro__btn
                        button.btn-intro show more
                .intro-item       
                    h1.intro__title Simple,Fresh & Unique Design  
                    .intro__text Donec posuere augue venenatis, 
                    .intro__btn
                        button.btn-intro show more
        
        section.services#services
         .container
            h2.title What we offer
            p.text Vestibulum elementum ex ullamcorper ligula vulputate
            .services__inner
              .services-item
                .services-item__content      
                 .services-item__content-title Vivamus tincidunt  
               
                 .services-item__content-text.
                  Fusce velit magna, rutrum id pellentesque in,
                  imperdiet rutrum neque. Vestibulum elementum ex ullamcorper                   l
                  igula vulputate, non malesuada nisi ullamcorper. Curabitur
                  tellus ligula, laoreet vitae lectus vitae         
                 img.services-item__content-img(src="img/icon-1.png", alt="/")       
              .services-item
                .services-item__content      
                 .services-item__content-title Vivamus tincidunt diam a iaculis 
               
                 .services-item__content-text.
                  Fusce velit magna, rutrum id pellentesque in,
                  imperdiet rutrum neque. Vestibulum elementum ex ullamcorper                   l
                  igula vulputate, non malesuada nisi ullamcorper. Curabitur
                  tellus ligula, laoreet vitae lectus vitae         
                 img.services-item__content-img(src="img/icon-2.png", alt="/")       
              .services-item
                .services-item__content      
                 .services-item__content-title Etiam porttitor sagittis ipsum 
               
                 .services-item__content-text.
                  Fusce velit magna, rutrum id pellentesque in,
                  imperdiet rutrum neque. Vestibulum elementum ex ullamcorper                   l
                  igula vulputate, non malesuada nisi ullamcorper. Curabitur
                  tellus ligula, laoreet vitae lectus vitae         
                 img.services-item__content-img(src="img/icon-3.png", alt="/")       
              .services-item
                .services-item__content      
                 .services-item__content-title Donec metus augue
               
                 .services-item__content-text.
                  Fusce velit magna, rutrum id pellentesque in,
                  imperdiet rutrum neque. Vestibulum elementum ex ullamcorper                   l
                  igula vulputate, non malesuada nisi ullamcorper. Curabitur
                  tellus ligula, laoreet vitae lectus vitae         
                 img.services-item__content-img(src="img/icon-4.png", alt="/")       
              .services-item
                .services-item__content      
                 .services-item__content-title Aliquam sed mollis  
               
                 .services-item__content-text.
                  Fusce velit magna, rutrum id pellentesque in,
                  imperdiet rutrum neque. Vestibulum elementum ex ullamcorper                   l
                  igula vulputate, non malesuada nisi ullamcorper. Curabitur
                  tellus ligula, laoreet vitae lectus vitae         
                 img.services-item__content-img(src="img/icon-5.png", alt="/")       
              .services-item
                .services-item__content      
                 .services-item__content-title Vestibulum placerat nisl quis 
               
                 .services-item__content-text.
                  Fusce velit magna, rutrum id pellentesque in,
                  imperdiet rutrum neque. Vestibulum elementum ex ullamcorper                   l
                  igula vulputate, non malesuada nisi ullamcorper. Curabitur
                  tellus ligula, laoreet vitae lectus vitae         
                 img.services-item__content-img(src="img/icon-6.png", alt="/")
                 
      
        .about#about
          .about__photo
        
          .about__content
             .about__content-title Who we are
             .about__content-text  Praesent dui massa, condimentum a nisl quis, tristique efficitur erat. Aenean ut suscipit urna. Donec efficitur tristique lobortis. Nullam eu efficitur lacus, et blandit tellus. Mauris viverra condimentum tellus vitae sollicitudin. Mauris quis mattis urna. Suspendisse auctor magna quis ipsum ultrices scelerisque. Vestibulum quis hendrerit enim. Aenean viverra aliquam ex, sed ornare risus porta in.
                div Aenean ut suscipit urna. Donec efficitur tristique lobortis. Nullam eu efficitur lacus, et blandit tellus. Mauris viverra condimentum tellus vitae sollicitudin. Mauris quis mattis urna. Suspendisse auctor magna quis ipsum ultrices scelerisque. Vestibulum quis hendrerit enim. Aenean viverra aliquam ex, sed ornare risus porta in.                   
              
             button.about__content-btn Read more

        section.works#portfolio
            h2.title See our work            
            .work-wrapper

                img.work__icon(src="img/work-icon-1.png", alt="")
            .text.
                        Mauris euismod ac nulla vitae fermentum. Morbi ut mauris massa. Sed condimentum elit volutpat turpis sagittis, 
                        in scelerisque dui luctus. Nulla id suscipit velit, a maximus massa.
            .work__link
                |
                |
                a(href="") All
                |
                |
                a(href="") Web
                |
                |
                
                a(href="") Logo Design
                |
                |
                a(href="") WordPress
                |
                |            
                
                a(href="") E-commerce
            .work__inner
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-1.jpg", alt="/")
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-2.jpg", alt="")
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-3.jpg", alt="")
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-1.jpg", alt="")
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-5.jpg", alt="")
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-6.jpg", alt="/")
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-7.jpg", alt="/")
                .work-item
                    .work-item__content
                        .work-item__content-icon
                          img(src="img/work-icon-2.png", alt="/")
                        .work-item__content-title Labore et dolore magnam 
                        .work-item__content-text Wordpress
                    
                    img.work-item__images(src="img/work-5.jpg", alt="/")
        section.testimonials#testimonials   
         .container
          h2.title testimonials
          .testimonials-wrapper

                img.testimonials__icon(src="img/testimonials-icon.png", alt="")
          .testimonials__slider
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                   dolor sit amet, consec tetur, adipisci velit, sed quia 
                   non numquam eius modi tempora incidunt utis labore et dolor
                   e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                    quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.
                    
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                   dolor sit amet, consec tetur, adipisci velit, sed quia 
                   non numquam eius modi tempora incidunt utis labore et dolor
                   e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                    quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.
                    
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                   dolor sit amet, consec tetur, adipisci velit, sed quia 
                   non numquam eius modi tempora incidunt utis labore et dolor
                   e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                    quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.
                    
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                   dolor sit amet, consec tetur, adipisci velit, sed quia 
                   non numquam eius modi tempora incidunt utis labore et dolor
                   e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                    quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.
                    
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                   dolor sit amet, consec tetur, adipisci velit, sed quia 
                   non numquam eius modi tempora incidunt utis labore et dolor
                   e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                    quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.
                    
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                   dolor sit amet, consec tetur, adipisci velit, sed quia 
                   non numquam eius modi tempora incidunt utis labore et dolor
                   e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                    quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                   dolor sit amet, consec tetur, adipisci velit, sed quia 
                   non numquam eius modi tempora incidunt utis labore et dolor
                   e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                    quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.
              .testimonials-item               
                 .testimonials__content
                  .testimonials__content-text. 
                   “Neque porro quisquam est, qui dolorem ipsum quia 
                      dolor sit amet, consec tetur, adipisci velit, sed quia 
                      non numquam eius modi tempora incidunt utis labore et dolor
                     e magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam,
                     quis nostrum exercitationem ullam corporis suscipit laboriosam,
                     nisi ut aliquid amet untras vel illum qui.”
                  .testimonials__content-author Jon Doe,
                    span Company Inc.


        footer.footer#contact
          .container
            .footer__inner
              .footer-item
                .footer__title.footer__title--logo Business Name
                .footer__text. 
                              Donec vitae cursus quam. Etiam dignissim, nulla 
                              a congue auctor, massa urna cursus enim, id sodales
                              elit ligula quis diam. Morbi ut semper augue. 
                              Fusce sit amet lectus turpis. Integer a cursus tellus,
                              et imperdiet purus. Donec sed orci placerat, vulputate
                              isus id, faucibus massa. Mauris justo arcu, faucibus
                              t nunc quis         
              .footer-item
                .footer__title Contact 
                .footer__text. 
                 There are many variations of passages of Lorem Ipsum available, 
                 but the majority have suffered alteration in so         
                .footer__info        
                 .footer__info-item hyderabadh        
                 .footer__info-item info@company.com        
                 .footer__info-item 123 456 7890        
              .footer-item
                .footer__title Latest Tweets                
                .footer__text.footer__text--padding Curabitur felis nibh, lacinia non rhoncus vel, lobortis et lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse sit          
                  |
                  |
                  span 5 Hours  Ago
                .footer__text.footer__text--padding Curabitur felis nibh, lacinia non rhoncus vel, lobortis et lorem. Class aptent taciti sociosqu ad litora torquent per conubia nost
                  |
                  |
                  span 6 Hours  Ago
                       
              .footer-item                
                .footer__title News Letter
                .footer__text Type your email address below and recive our daily news letter for free
                form.footer__form
                 input(type="email", name="", placeholder="Email Address")
                 button(type="submit") Submit
          .copyright
            .container
              .copyright__inner
                .copyright__text © 2015 Business name.All rights reserved.
                .copyright__text Designed by Colorpixels.net
                .copyright__social
                .copyright__social-icons
                  .copyright__social-icon
                    img(src="img/twitter-1.svg", alt="/")
                
                  .copyright__social-icon
                    img(src="img/facebook.svg", alt="/")
                
                  .copyright__social-icon
                    img(src="img/linkedin.svg", alt="/")                
                    
                


         
        

    



    













        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
    




























    